# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Virtual environments
venv/
backend/venv/
.env
.venv/

# Data & outputs
data/*.csv
outputs/tables/*
outputs/plots/*
outputs/logs/*

# Node / Next.js frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
frontend/.env.test.local
frontend/.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
*.swp
